<!--<table class="d-flextable table-bordered w-50 align-content-center">-->
<!--  <thead>-->
<!--  <th scope="col">Техника</th>-->
<!--  <th scope="col">Магазин</th>-->
<!--  <th scope="col">Количество</th>-->
<!--  <th scope="col">Обащя информация</th>-->
<!--  <th scope="col">Ебать</th>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td>B-12</td>-->
<!--    <td>Something</td>-->
<!--    <td>-->
<!--      <table class="table">-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <td>1</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td>2</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<div class="dx-datagrid-nowrap" style="width: 100%!important;">
  <div class="dx-datagrid-content align-content-center">
    <table class="table table-bordered" style="width: 100%!important;">
      <colgroup>
        <col>
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <tbody>
      <tr>
        <td *ngFor="let item of dataService.columnHeader" role="columnheader"
            class="dx-datagrid-action dx-cell-focus-disabled" style="text-align: center; width: 20%">
          {{item}}
        </td>
      </tr>
      <tr *ngFor="let item of dataService.dataForDxTable">
        <td style="text-align: center; vertical-align: center;">
          {{item.name}}
        </td>
        <td style="text-align: center; vertical-align: center;">
          {{item.techCount}}
        </td>
        <td>
          <table style="width: 100%">
            <tbody style="align-content: center; align-items: center; vertical-align: center; width: 100%">
            <tr
              style="align-content: center; align-items: center; vertical-align: center; border-bottom: gray"
              *ngFor="let shopData of item.shopInfo"
            >
                {{shopData.name}}
            </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
            <tr *ngFor="let about of item.shopInfo">
              {{about.about}}
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<dx-data-grid
  [dataSource]="dataService.dataForDxTable"
  [showBorders]="true"
  [showRowLines]="true"
>

</dx-data-grid>


